@import "../../styles/colors";
@import "../../styles/type";

.hero {
}

.hero__interior {

  h1 {
    line-height: 1.2;
    font-family: font-family(display);
    font-size: font-size(display, hero);
  }
}

