@mixin grid--standard {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: [bleed-start] minmax(0, 1fr)
                         minmax(320px, 1140px)
                         minmax(0, 1fr)
                         [bleed-end];

  grid-template-rows: 400px
                      minmax(500px, auto)
                      180px;

  grid-template-areas:  ". header ."
                        ". main  ."
                        ". footer .";

}

@mixin grid--subgrid {
  display: grid;
  grid-gap: inherit;
  grid-template-columns: inherit;
  grid-template-rows: inherit;
  grid-template-areas: inherit;
}

@mixin grid-item($column, $row) {
  grid-column: $column;
  grid-row: $row;
}

