@import "../../styles/type";
@import "../../styles/colors";

.global-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 18px;

  a {
    text-decoration: none;
  }
}

.global-header__brand {
}

.global-header__title {
  font-family: font-family(base);
  font-size: font-size(subheading);
  font-weight: 300;
}

.global-header__nav {
  flex-grow: 1;
  max-width: 40%;
}