@import "../../styles/type";
@import "../../styles/colors";

.global-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 1;
  position: relative;

  a {
    text-decoration: none;
  }

  .horz-nav {
    background-color: rgba(color(purple, dark), 0.8);
    padding: 4px 32px;
    a {
      color: color(white);
    }
  }

  .horz-nav__title {
    a {
      color: color(white);
    }
  }
}

.global-header__brand {
}

.global-header__title {
  font-size: font-size(heading);
  font-family: font-family(heading);
  font-weight: 400;
  color: color(white);
  border: 1px solid color(white);
  padding: 8px 18px;
}

.global-header__nav {
  flex-grow: 1;
  max-width: 40%;
}