@import "../../styles/type";

.global-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    text-decoration: none;
  }
}

.global-header__brand {
}

.global-header__title {
  letter-spacing: 2px;
  font-size: font-size(subheading);
  font-weight: 300;
  border-bottom: 2px solid rebeccapurple;

  text-rendering: optimizeLegibility;
  -moz-font-feature-settings: "liga=1, dlig=1";
  -moz-font-feature-settings: "liga", "dlig";
  -ms-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  -webkit-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
}

.global-header__nav {
  flex-grow: 1;
  max-width: 40%;
}