.event-card {
  background-color: lighten(#7a7a7a, 50%);
  border: 1px solid #ccc;
  max-width: 320px;
}

.event-card__details {
  padding: 0 30px;
  font-size: 0.85rem;

  p {
    margin-top: 0;
    margin-bottom: 8px;
  }

  address {
    margin-bottom: 16px;
  }
}

.event-card__desc {
  padding: 0 30px 30px 30px;
  font-size: 0.85rem;
}