@import "../../styles/type";
@import "../../styles/colors";

.main-nav {
}

.main-nav__list {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.main-nav__item {
  font-size: font-size(body);
  font-weight: 300;
  padding-right: 18px;

  &:last-child {
    padding-right: 0;
  }

  a {
    border-top: 1px solid transparent;
    padding-top: 4px;
    transition: border-top-color 0.25s ease-in, color 0.25s ease-in;
    color: color(gray, light);

    &:hover {
      border-top-color: color(blue);
      color: color(blue);
    }
  }
}


