@import "../../styles/_grids";
@import "../../styles/_type";

.site-cover {
  grid-column: 1 / -1;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

.site-cover__inner {
  @include grid--subgrid();
  padding-top: 64px;

  h1 {
    grid-column: 2 / 5;
    font-size: font-size(display, hero);
    line-height: 1.2;
    width: 60%;
    text-shadow: #f2f1f6 1px 1px 0;
    color: #313439;
  }
}

