@import "../styles/type";
@import "../styles/colors";

body {
  font-family: font-family(base);
  font-size: font-size(body);
  color: color(black);
  margin: 0;
}

a {
  color: color(gray, dark);
}

.wrapper {
}

h1 {
  font-family: font-family(display);
}

h2 {
  font-family: font-family(heading);
}

.body-content {
  font-family: font-family(body);
}