@import "../../styles/type";
@import "../../styles/colors";

.seashell-props {
  display: table;
  width: 100%;
}

.seashell-props__headings,
.seashell-props__row {
  display: table-row;
  span {
    display: table-cell;
    border-bottom: 1px solid color(gray, lighter);
    padding: 6px 0;
  }
}

.seashell-props__headings {
  span {
    font-weight: 700;
  }
}

.seashell-props__row {
  display: table-row;
  font-size: 0.85rem;

  span:first-child,
  span:nth-child(3) {
    font-family: font-family(code);
  }
}

